/*
 * AUTHOR: Vic Chen
 * URL: http://www.vicchen.me
 */

/* vPaper THEME START */
body{
    position: relative;
    background-color: #f9f9f9;
    font-family: "Trebuchet MS", Verdana, "Malgun Gothic","Microsoft YaHei", sans-serif;
}
::selection{
    background-color: #1abc9c;
    color: #FFF;
}
a{
    color: #797979;
}
a:hover{
    color: #1abc9c;
    text-decoration: none;
}
.vc-header{
    background-color: #fff;
    padding: 15px 0;
    border-bottom: 1px solid #efefef;
}
.vc-header h1{
    margin: 0;
    padding: 0;
    height: 0;
    text-indent: -999px;
}
.vc-container{
    padding-top: 30px;
}
.vc-page-title{
    color: #555;
}
.vc-page-title:hover{
    color: #555;
    text-decoration: none;
}
.vc-author{
    font-size: 12px;
    line-height: 18px;
    color: #b5b5b5;
}
.vc-pagelist-img{
    margin: -5px -15px 0;
}
.vc-pagelist-img img{
    width: 100%;
}
/* Blog Content CSS */
.vc-blog{
    width: 100%;
    height: auto;
    padding: 0 20px;
}
.vc-blog-title{
    font-size: 36px;
    line-height: 42px;
    font-weight: normal;
    text-transform: none;
}
.vc-blog-content{
    width: 100%;
    height: auto;
    margin: 15px auto 10px;
    overflow: hidden;
}
.vc-blog-content img{
    width: 100%;
}
.vc-blog-content .vc-blog-img{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin: 10px auto 20px;
}
.vc-blog-content .vc-blog-words{
    font-size: 14px;
}
.vc-blog-content .vc-blog-words>p{
    text-indent: 2rem;
}
/* FOOTER CSS */
.vc-footer{
    background: #242424;
    padding-bottom: 30px;
}
.vc-footer .vc-footer-info{
    background: #2d2e2f;
}
.vc-footer .vc-footer-info .vc-footer-menu{
    padding: 12px 20px;
    text-align: center;
    list-style: none;
    overflow: hidden;
}
.vc-footer .vc-footer-info .vc-footer-menu > li{
    vertical-align: top;
}
.vc-footer .vc-footer-info .vc-footer-menu > li:nth-child(n+2){
    margin-left: 15px;
}
.vc-footer .vc-footer-info .vc-footer-menu > li,
.vc-footer .vc-footer-info .vc-footer-menu > li > a{
    display: inline-block;
    font-size: 14px;
}
.vc-footer .vc-footer-copyright {
    padding-top: 30px;
    text-align: center;
    font-weight: 700;
}
/* vPaper THEME END */